$header-height: 64px;
$sidenav-content-height-gap: 200px;

/** To update these two variables you have to update the respective values in /src/app/animations/animations.ts */
$large-sidenav-width: 280px;
$small-sidenav-width: 90px;
