<!-- Main div of the application -->
<div class="main-container" [class.dark-theme]="isDark">
  <!-- HEADER -->
  <app-header [sidenav]="leftSidenav" [comunicationNav]="rightSidenav" [attr_color]="themeColor"></app-header>

  <!-- SIDEBAR AND MAIN_CONTENT -->
  <mat-sidenav-container
    class="sidenav-container"
    [hasBackdrop]="hasBackdrop"
    [attr.color]="themeColor"
  >
    <!-- SIDEBAR -->
    <mat-sidenav
      #leftSidenav
      id="leftSidenav"
      [mode]="screenWidth >= minimumWidth ? 'side' : 'over'"
      [disableClose]="true"
      [attr.color]="themeColor"
    >
      <app-left-menu></app-left-menu>
    </mat-sidenav>

    <!-- NOTIFICATION RIGHT SIDEBAR -->
    <mat-sidenav
      #rightSidenav
      mode="over"
      position="end"
      [disableClose]="disableClose()"
    >
      <app-right-menu></app-right-menu>
    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content [ngStyle]="{'border-top-left-radius': radius +'px'}" [@onMainContentChange]="check()" (scroll)="onScroll($event)">
      <div class="main_content">
        <div style="padding: 20px">
          <!-- PAGES -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
