<div style="width: 400px;">

  <h2>Notifiche</h2>

  <div style="margin-top: 15px; padding: 15px">

    <div style="color: black; margin-bottom: 10px; background-color: white; border: 1px solid black; border-radius: 5px;">
      <h4>Titolo notifica 1</h4>
      <p>Testo notifica 1</p>
    </div>

    <div style="color: black; margin-bottom: 10px; background-color: white; border: 1px solid black; border-radius: 5px;">
      <h4>Titolo notifica 2</h4>
      <p>Testo notifica 2</p>
    </div>

  </div>

</div>
