// mat-card {
//   background-color: transparent;
//   box-shadow: none !important;
// }

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

// $breakpoint-tablet: 1024px;
// @media (max-width: $breakpoint-tablet) {
//   mat-card{
//     display: block !important;
//   }
// }

// mat-card{
//   display: flex;
//   box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%) !important;
//   border-radius: 10px !important;
//   padding: 50px;
//   margin: 25px;
// }
// .inner-card{
//   margin: 25px 25px 25px 25px !important;
// }
// .mat-card-header-text{
//   margin: auto auto !important;
// }


.error {
  padding: 16px;
  width: 60%;
  margin: auto;
  color: white;
  background-color: red;
  margin: auto;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: flex-end;
}


.custom-element {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 35rem;
  height: 35rem;
  max-height: 75%;
  padding: 35px;
}

.custom-button{
  display: block;
  border: 1px solid currentColor;
  border-radius: 50px;
  margin: 50px 0;
  min-width: fit-content;
  min-width: -moz-fit-content;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
  background-color: yellow;
  color: #333;
}
.custom-button:hover {
  color: yellow;
  border-color: white;
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
