<!-- <ng-container *ngIf="user!=null; else notLogged">

  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle>{{user?.surname}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="row">
      <div class="col-md-4">
          <p><b>Ruoli: </b>{{getRolesName()}}</p>
          <p><b>Permessi: </b>{{getPermissionsName()}}</p>
      </div>
      <div class="col-md-8">
        <p>
          Ciao {{user?.name}}, ora sei loggato con i privilegi di {{getRolesName()}} e i tuoi permessi sono {{getPermissionsName()}}.
          La tua email è {{user?.email}}
        </p>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

</ng-container>

<ng-template #notLogged>
  <h2>Non sei loggato.</h2>
  <a routerLink="/login">Vai al login prima</a>
</ng-template>
 -->

<ng-container *ngIf="user != null; else notLogged">
  <div id="profile">
    <!-- HEADER -->
    <mat-card class="p-0 rounded-zero">
      <div>
        <img
          style="width:100%;"
          src="assets/images/backgrounds/dark-material-bg.jpg"
          alt="Cover image"
          class="h-40 lg:h-80 object-cover"
        />
      </div>
      <div class="flex flex-col lg:flex-row items-center mx-auto px-8 lg:h-18">
        <div class="-mt-26 lg:-mt-22">
          <img
            src="assets/images/avatars/Velazquez.jpg"
            alt="User avatar"
            class="w-32 h-32 rounded-full ring-4"
          />
        </div>
        <div
          class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
        >
          <div class="text-lg font-bold leading-none">{{user.name}} {{user.surname}}</div>
          <div class="text-secondary">{{user.address}}</div>
        </div>
        <mat-divider vertical class="hidden border-r-2 lg:flex h-8 mx-8"></mat-divider>
        <div class="flex items-center mt-6 lg:mt-0 space-x-6">
          <div class="flex flex-col items-center">
            <span class="font-bold">200k</span
            ><span class="text-sm font-medium text-secondary">FOLLOWERS</span>
          </div>
          <div class="flex flex-col items-center">
            <span class="font-bold">1.2k</span
            ><span class="text-sm font-medium text-secondary">FOLLOWING</span>
          </div>
        </div>
        <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
          <a class="font-medium" [routerLink]="'about'" routerLinkActive="is-active"> About </a>
          <a class="text-secondary" [routerLink]="'timeline'"> Timeline </a>
          <a class="text-secondary" [routerLink]="'media'"> Gallery </a>
        </div>
      </div>
    </mat-card>
    <!-- / HEADER -->

    <!-- CONTENT -->
  <div class="content">

    <router-outlet></router-outlet>

  </div>
  <!-- / CONTENT -->
  </div>
</ng-container>
<ng-template #notLogged>
  <h2>Non sei loggato.</h2>
  <a routerLink="/login">Vai al login prima</a>
</ng-template>
