.flex-col {
  flex-direction: column!important;
}
.flex {
  display: flex!important;
}
.object-cover {
    object-fit: cover!important;
}
.h-40 {
    height: 10rem!important;
}
.px-8 {
  padding-left: 2rem!important;
  padding-right: 2rem!important;
}
.items-center {
  align-items: center!important;
}
.flex-col {
  flex-direction: column!important;
}
.flex-0 {
  flex: 0 0 auto!important;
}
.max-w-5xl {
  max-width: 64rem!important;
}
.w-full {
  width: 100%!important;
}
.flex {
  display: flex!important;
}
.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}
.bg-card {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255,255,255, 1)!important;
  color: black;
}
.rounded-full {
  border-radius: 9999px!important;
}
.-mt-26 {
  margin-top: -6.5rem!important;
}
.rounded-full {
  border-radius: 9999px!important;
}
.w-32 {
  width: 8rem!important;
}
.h-32 {
  height: 8rem!important;
}
.ring-bg-card {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(255,255,255, 1) !important;
}
.ring-4 {
  border: solid 4px white;
}
.border-l-2 {
  border-left-width: 2px!important;
}
.h-8 {
  height: 2rem!important;
}
.hidden {
  display: none!important;
}
.mx-8 {
  margin-left: 2rem!important;
  margin-right: 2rem!important;
}
.space-x-6>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse))!important;
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))!important;
}
.mt-4 {
  margin-top: 1rem!important;
}
.mt-6 {
  margin-top: 1.5rem!important;
}
.mb-4 {
  margin-bottom: 1rem!important;
}
.mt-8 {
  margin-top: 2rem!important;
}

@media (min-width: 1280px){
.lg\:h-80 {
    height: 20rem!important;
}
.lg\:flex-row {
  flex-direction: row!important;
}
.lg\:h-18 {
  height: 4.5rem!important;
}
.lg\:-mt-22 {
  margin-top: -5.5rem!important;
}
.lg\:items-start {
  align-items: flex-start!important;
}
.lg\:ml-8 {
  margin-left: 2rem!important;
}
.lg\:mt-0 {
  margin-top: 0!important;
}
.lg\:m-0 {
  margin: 0!important;
}
.lg\:flex {
  display: flex!important;
}
.lg\:ml-auto {
  margin-left: auto!important;
}
}
