
<div id="topAboutSection" class="flex flex-auto max-w-5xl mx-auto p-6 sm:p-8">

    <div class="hidden lg:flex flex-col mr-8">

        <!-- Hidden box used to replace skills Card when it become absolute -->
        <div *ngIf="isSeeAllSkills" class="vh-80 w-full"></div>

        <!-- Card of BIO, if See All Bio is pressed, it expands and become absolute -->
        <mat-card id="bioCard" class="flex flex-col max-w-80 w-full p-8 ng-tns-c124-6 ng-star-inserted transition-medium" [ngClass]="{'vw-62-5 vh-80 abs' : isSeeAllBio}" >
            <div class="text-2xl font-semibold leading-tight ng-tns-c124-6 ng-star-inserted">About Me</div>
            <div class="mt-4 ng-tns-c124-6 ng-star-inserted h-full" [ngClass]="{'vertical-scroll' : isSeeAllBio}">
                    {{ !isSeeAllBio ? shortBio : longBio }}
            </div>
            <hr class="w-full border-t my-6 ng-tns-c124-6 ng-star-inserted">
            <div id="bioInfoList" *ngIf="!isSeeAllBio" class="flex flex-col ng-tns-c124-6 ng-star-inserted">
                <div class="flex items-center">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-3 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="location-marker"
                        data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd"
                                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                clip-rule="evenodd"></path>
                        </svg></mat-icon><span class="leading-none">Trento, IT</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-3 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="briefcase"
                        data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd"
                                d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                            <path
                                d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                            </path>
                        </svg></mat-icon><span class="leading-none">GPI spa. Junior Full Stack Developer</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-3 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="cake"
                        data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd"
                                d="M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg></mat-icon><span class="leading-none">09 June 1997</span>
                </div>
            </div>
            <button mat-flat-button="" class="mat-focus-indicator px-6 mt-8 mat-flat-button mat-button-base mat-primary ng-tns-c124-6 ng-star-inserted" tabindex="0" (click)="toggleSeeAll('bio')">
                <span class="mat-button-wrapper">{{ !isSeeAllBio ? 'See complete bio' : 'Hide complete bio' }} </span>
            </button>
            <!---->
            <!---->
            <!---->
        </mat-card>
        <!-- Hidden box used to replace bio Card when it become absolute -->
        <div *ngIf="isSeeAllBio" class="vh-80 w-full"></div>
        
        <mat-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4 ng-tns-c124-7 ng-star-inserted">
            <!---->
            <div class="flex items-center justify-between ng-tns-c124-7 ng-star-inserted">
                <div class="text-2xl font-semibold leading-tight">Followers</div>
                <div class="-mr-3"><button aria-haspopup="true" mat-icon-button=""
                        class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                            class="mat-button-wrapper">
                            <mat-icon role="img" class="mat-icon notranslate icon-size-5 mat-icon-no-color"
                                aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="dots-vertical"
                                data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path
                                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                                    </path>
                                </svg></mat-icon>
                        </span><span matripple=""
                            class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                            class="mat-button-focus-overlay"></span></button>
                    <!---->
                    <mat-menu class="ng-tns-c54-8 ng-star-inserted">
                        <!---->
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col ng-tns-c124-7 ng-star-inserted">
                <div class="flex justify-between mt-6"><img src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/male-01.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded-full"><img src="assets/images/avatars/male-02.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/female-02.jpg" alt="Card cover image" class="w-14 h-14 rounded-full">
                </div>
                <div class="flex justify-between mt-3"><img src="assets/images/avatars/female-03.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/female-04.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded-full"><img src="assets/images/avatars/male-03.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/male-04.jpg" alt="Card cover image" class="w-14 h-14 rounded-full">
                </div>
                <div class="flex justify-between mt-3"><img src="assets/images/avatars/female-05.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/female-06.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded-full"><img src="assets/images/avatars/male-05.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/male-06.jpg" alt="Card cover image" class="w-14 h-14 rounded-full">
                </div>
                <div class="flex justify-between mt-3"><img src="assets/images/avatars/female-07.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/male-07.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded-full"><img src="assets/images/avatars/male-08.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded-full"><img
                        src="assets/images/avatars/female-08.jpg" alt="Card cover image" class="w-14 h-14 rounded-full">
                </div>
            </div>
            <div class="flex items-center mt-6 -mx-3 ng-tns-c124-7 ng-star-inserted"><button mat-button=""
                    class="mat-focus-indicator px-3 mat-button mat-button-base mat-primary" tabindex="0"><span
                        class="mat-button-wrapper"> See all followers </span><span matripple=""
                        class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button></div>
            <!---->
            <!---->
            <!---->
        </mat-card>
        <mat-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4 ng-tns-c124-9 ng-star-inserted">
            <!---->
            <div class="flex items-center justify-between ng-tns-c124-9 ng-star-inserted">
                <div class="text-2xl font-semibold leading-tight">Gallery</div>
                <div class="-mr-3"><button aria-haspopup="true" mat-icon-button=""
                        class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                            class="mat-button-wrapper">
                            <mat-icon role="img" class="mat-icon notranslate icon-size-5 mat-icon-no-color"
                                aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="dots-vertical"
                                data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path
                                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                                    </path>
                                </svg></mat-icon>
                        </span><span matripple=""
                            class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                            class="mat-button-focus-overlay"></span></button>
                    <!---->
                    <mat-menu class="ng-tns-c54-10 ng-star-inserted">
                        <!---->
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col ng-tns-c124-9 ng-star-inserted">
                <div class="flex justify-between mt-6"><img src="assets/images/cards/14-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/15-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"><img src="assets/images/cards/16-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/17-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"></div>
                <div class="flex justify-between mt-3"><img src="assets/images/cards/18-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/19-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"><img src="assets/images/cards/20-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/21-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"></div>
                <div class="flex justify-between mt-3"><img src="assets/images/cards/22-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/23-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"><img src="assets/images/cards/24-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/25-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"></div>
                <div class="flex justify-between mt-3"><img src="assets/images/cards/26-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/27-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"><img src="assets/images/cards/28-640x480.jpg"
                        alt="Card cover image" class="w-14 h-14 rounded object-cover"><img
                        src="assets/images/cards/29-640x480.jpg" alt="Card cover image"
                        class="w-14 h-14 rounded object-cover"></div>
            </div>
            <div class="flex items-center mt-6 -mx-3 ng-tns-c124-9 ng-star-inserted"><button mat-button=""
                    class="mat-focus-indicator px-3 mat-button mat-button-base mat-primary" tabindex="0"><span
                        class="mat-button-wrapper"> See entire gallery </span><span matripple=""
                        class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button></div>
            <!---->
            <!---->
            <!---->
        </mat-card>
        <mat-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4 ng-tns-c124-11 ng-star-inserted">
            <!---->
            <div class="flex items-center justify-between ng-tns-c124-11 ng-star-inserted">
                <div class="text-2xl font-semibold leading-tight">Groups</div>
                <div class="-mr-3"><button aria-haspopup="true" mat-icon-button=""
                        class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                            class="mat-button-wrapper">
                            <mat-icon role="img" class="mat-icon notranslate icon-size-5 mat-icon-no-color"
                                aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="dots-vertical"
                                data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path
                                        d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                                    </path>
                                </svg></mat-icon>
                        </span><span matripple=""
                            class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                            class="mat-button-focus-overlay"></span></button>
                    <!---->
                    <mat-menu class="ng-tns-c54-12 ng-star-inserted">
                        <!---->
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col mt-5 ng-tns-c124-11 ng-star-inserted">
                <div class="flex items-center"><img src="assets/images/cards/coffee-shop-01-320x200.jpg"
                        alt="Card cover image" class="w-14 h-14 mr-4 rounded object-cover">
                    <div class="flex flex-col min-w-0">
                        <div class="font-medium leading-none">The Port Cafe</div>
                        <div class="text-md truncate leading-none mt-1">Best cafe of the downtown New York</div>
                        <div class="text-md leading-none text-secondary mt-2">1.2k followers</div>
                    </div>
                </div>
                <div class="flex items-center mt-6"><img src="assets/images/cards/coffee-shop-02-512x512.jpg"
                        alt="Card cover image" class="w-14 h-14 mr-4 rounded object-cover">
                    <div class="flex flex-col min-w-0">
                        <div class="font-medium leading-none">Design House LLC.</div>
                        <div class="text-md truncate leading-none mt-1">UI/UX, brand and product design</div>
                        <div class="text-md leading-none text-secondary mt-2">957 followers</div>
                    </div>
                </div>
                <div class="flex items-center mt-6"><img src="assets/images/cards/coffee-shop-03-320x320.jpg"
                        alt="Card cover image" class="w-14 h-14 mr-4 rounded object-cover">
                    <div class="flex flex-col min-w-0">
                        <div class="font-medium leading-none">Crax Laser Tag</div>
                        <div class="text-md truncate leading-none mt-1">30% off with group of 6 people</div>
                        <div class="text-md leading-none text-secondary mt-2">342 followers</div>
                    </div>
                </div>
                <div class="flex items-center mt-6"><img src="assets/images/cards/sneakers-01-320x200.jpg"
                        alt="Card cover image" class="w-14 h-14 mr-4 rounded object-cover">
                    <div class="flex flex-col min-w-0">
                        <div class="font-medium leading-none">Roadster Clothing Inc.</div>
                        <div class="text-md truncate leading-none mt-1">$25 off on orders $500 and over</div>
                        <div class="text-md leading-none text-secondary mt-2">4.7k followers</div>
                    </div>
                </div>
            </div>
            <div class="flex items-center mt-6 -mx-3 ng-tns-c124-11 ng-star-inserted"><button mat-button=""
                    class="mat-focus-indicator px-3 mat-button mat-button-base mat-primary" tabindex="0"><span
                        class="mat-button-wrapper"> See all groups </span><span matripple=""
                        class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button></div>
            <!---->
            <!---->
            <!---->
        </mat-card>
    </div>












    

    <div class="flex flex-col items-start">

        <div *ngIf="isSeeAllBio" class="vh-80 w-full"></div>

        <!-- Box of SKILLS, if See All Skills is pressed, it expands and become absolute -->
        <div id="skillsCards" [ngClass]="{'vw-62-5 vh-80 left-15vw abs' : isSeeAllSkills}">
            <h2>My 3 main working skills</h2>
            <div [ngClass]="{'w-full' : !isSeeAllSkills, 'w-40pc' : isSeeAllSkills}">
                <div fxLayout="column" fxLayoutAlign="space-around center" >
                    <mat-card class="flex items-center max-w-80 w-full p-6 filter-info ng-tns-c124-908 ng-star-inserted">
                        <!---->
                        <mat-icon class="mr-3"><i class="material-icons">check</i></mat-icon>
                        <div class="flex flex-col ng-tns-c124-908 ng-star-inserted">
                            <div class="text-2xl font-semibold leading-tight">Java</div>
                            <!-- <div class="text-md text-secondary">Mailbox</div> -->
                        </div>
                        <!---->
                        <!---->
                        <!---->
                    </mat-card>
                    <mat-card class="flex items-center max-w-80 w-full p-6 filter-info ng-tns-c124-908 ng-star-inserted mt-4">
                        <!---->
                        <mat-icon class="mr-3"><i class="material-icons">check</i></mat-icon>
                        <div class="flex flex-col ng-tns-c124-908 ng-star-inserted">
                            <div class="text-2xl font-semibold leading-tight">Angular</div>
                            <!-- <div class="text-md text-secondary">Mailbox</div> -->
                        </div>
                        <!---->
                        <!---->
                        <!---->
                    </mat-card>
                    <mat-card class="flex items-center max-w-80 w-full p-6 filter-info ng-tns-c124-908 ng-star-inserted mt-4">
                        <!---->
                        <mat-icon class="mr-3"><i class="material-icons">check</i></mat-icon>
                        <div class="flex flex-col ng-tns-c124-908 ng-star-inserted">
                            <div class="text-2xl font-semibold leading-tight">Web Marketing </div>
                            <!-- <div class="text-md text-secondary">Mailbox</div> -->
                        </div>
                        <!---->
                        <!---->
                        <!---->
                    </mat-card>
                </div>
            </div>
            <button mat-flat-button="" class="mat-focus-indicator px-6 mt-8 mat-flat-button mat-button-base mat-primary ng-tns-c124-6 ng-star-inserted" tabindex="0" (click)="toggleSeeAll('skills')">
                <span class="mat-button-wrapper"> {{ !isSeeAllSkills ? 'See all my skills' : 'Hide All my skills' }} </span>
            </button>
        </div>

        <div *ngIf="isSeeAllSkills" class="vh-80 w-full"></div>

        <hr class="w-080 mt-5"/>

        <div class="mt-3">
            <h2>My Job Goal</h2>
            <mat-card class="flex items-center max-w-80 w-full p-6 filter-info ng-tns-c124-908 ng-star-inserted mt-4">
                <!---->
                <mat-icon class="mr-3"><i class="material-icons">work</i></mat-icon>
                <div class="flex flex-col ng-tns-c124-908 ng-star-inserted">
                    <div class="text-2xl font-semibold leading-tight">Full Stack Developoer</div>
                    <div class="text-md text-secondary">Java with Spring - Angular</div>
                </div>
                <!---->
                <!---->
                <!---->
            </mat-card>
            <mat-card class="flex items-center max-w-80 w-full p-6 filter-info ng-tns-c124-908 ng-star-inserted mt-4">
                <!---->
                <mat-icon class="mr-3"><i class="material-icons">location_on</i></mat-icon>
                <div class="flex flex-col ng-tns-c124-908 ng-star-inserted">
                    <div class="text-2xl font-semibold leading-tight">Australia</div>
                    <div class="text-md text-secondary">I'd like to improve my English.<br/>I also love live in hot places near the ocean.</div>
                </div>
                <!---->
                <!---->
                <!---->
            </mat-card>
        </div>

        <mat-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6 ng-tns-c124-17 ng-star-inserted mt-8">
            <!---->
            <div class="text-xl font-semibold ng-tns-c124-17 ng-star-inserted">Create Post</div>
            <div class="flex flex-col sm:flex-row items-start mt-8 ng-tns-c124-17 ng-star-inserted">
                <div class="flex items-center mb-6 sm:mb-0"><img src="assets/images/avatars/Velazquez.jpg"
                        alt="Card cover image" class="w-12 min-w-12 h-12 rounded-full mr-4">
                    <div class="sm:hidden">Brian Hughes</div>
                </div>
                <!-- <mat-form-field
                    class="mat-form-field fuse-mat-textarea fuse-mat-no-subscript w-full ng-tns-c33-18 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float ng-star-inserted">
                    <div class="mat-form-field-wrapper ng-tns-c33-18">
                        <div class="mat-form-field-flex ng-tns-c33-18">

                            <div class="mat-form-field-infix ng-tns-c33-18"><textarea matinput="" mattextareaautosize=""
                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c33-18 cdk-text-field-autofill-monitored"
                                    rows="3" placeholder="What's on your mind?" id="mat-input-0"
                                    data-placeholder="What's on your mind?" aria-invalid="false"
                                    aria-required="false"></textarea><span
                                    class="mat-form-field-label-wrapper ng-tns-c33-18">

                                </span></div>

                        </div>
                        <div class="mat-form-field-underline ng-tns-c33-18 ng-star-inserted"><span
                                class="mat-form-field-ripple ng-tns-c33-18"></span></div>

                        <div class="mat-form-field-subscript-wrapper ng-tns-c33-18">

                            <div class="mat-form-field-hint-wrapper ng-tns-c33-18 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                style="opacity: 1; transform: translateY(0%);">

                                <div class="mat-form-field-hint-spacer ng-tns-c33-18"></div>
                            </div>

                        </div>
                    </div>
                </mat-form-field> -->
            </div>
            <div class="flex items-center mt-6 sm:mt-8 -mx-3 ng-tns-c124-17 ng-star-inserted"><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base" tabindex="0"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="photograph"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path fill-rule="evenodd"
                                    d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                    clip-rule="evenodd"></path>
                            </svg></mat-icon><span>Photo / Video</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 hidden sm:inline-flex mat-button mat-button-base"
                    tabindex="0"><span class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="user-circle"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                                    clip-rule="evenodd"></path>
                            </svg></mat-icon><span>Tag Friends</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 hidden sm:inline-flex mat-button mat-button-base"
                    tabindex="0"><span class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="emoji-happy"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z"
                                    clip-rule="evenodd"></path>
                            </svg></mat-icon><span>Feeling</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button><button aria-haspopup="true" mat-button=""
                    class="mat-focus-indicator mat-menu-trigger px-3 mat-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="dots-horizontal"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                                </path>
                            </svg></mat-icon>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button>
                <!---->
                <mat-menu class="ng-tns-c54-19 ng-star-inserted">
                    <!---->
                </mat-menu>
            </div>
            <!---->
            <!---->
            <!---->
        </mat-card>
        <mat-card class="flex flex-col max-w-140 w-full mt-8 ng-tns-c124-20 ng-star-inserted">
            <!---->
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4 ng-tns-c124-20 ng-star-inserted">
                <img
                    src="assets/images/avatars/Velazquez.jpg" alt="Card cover image"
                    class="w-10 h-10 rounded-full mr-4">
                <div class="flex flex-col"><span class="font-semibold leading-none">Caroline Lundu</span><span
                        class="text-sm text-secondary leading-none mt-1">29 minutes ago</span></div><button
                    aria-haspopup="true" mat-icon-button=""
                    class="mat-focus-indicator mat-menu-trigger ml-auto -mr-4 mat-icon-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="dots-vertical"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path
                                    d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                                </path>
                            </svg></mat-icon>
                    </span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                        class="mat-button-focus-overlay"></span></button>
                <!---->
                <mat-menu class="ng-tns-c54-21 ng-star-inserted">
                    <!---->
                </mat-menu>
            </div>
            <div class="mx-6 sm:mx-8 mt-2 mb-6 ng-tns-c124-20 ng-star-inserted"> Look at that sky! I so want to be
                there.. Can we arrange a trip? Is that a possibility? Please!!! </div>
            <div class="relative mb-4 ng-tns-c124-20 ng-star-inserted"><img src="assets/images/backgrounds/dark-material-bg.jpg"
                    alt="Card cover image" class="h-80 object-cover">
                <div class="mat-tooltip-trigger absolute bottom-0 left-0 flex items-center justify-center w-8 h-8 m-4 rounded-full cursor-pointer bg-gray-700"
                    aria-describedby="cdk-describedby-message-1" cdk-describedby-host="">
                    <mat-icon role="img" class="mat-icon notranslate icon-size-4 text-gray-100 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="location-marker"
                        data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path fill-rule="evenodd"
                                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                clip-rule="evenodd"></path>
                        </svg></mat-icon>
                </div>
                <!---->
            </div>
            <div class="flex items-center mx-3 sm:mx-5 ng-tns-c124-20 ng-star-inserted"><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base" tabindex="0"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img"
                            class="mat-icon notranslate icon-size-5 text-red-500 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="heart"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path fill-rule="evenodd"
                                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                                    clip-rule="evenodd"></path>
                            </svg></mat-icon><span>Unlike</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base" tabindex="0"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="chat-alt"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path fill-rule="evenodd"
                                    d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                    clip-rule="evenodd"></path>
                            </svg></mat-icon><span>Comment</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button><button mat-button=""
                    class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base" tabindex="0"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="share"
                            data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path
                                    d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z">
                                </path>
                            </svg></mat-icon><span>Share</span>
                    </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                        class="mat-button-focus-overlay"></span></button></div>
            <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6 ng-tns-c124-20 ng-star-inserted">
            <div
                class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6 ng-tns-c124-20 ng-star-inserted">
                <div class="flex items-center"><img src="assets/images/avatars/Velazquez.jpg" alt="Card cover image"
                        class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"><img
                        src="assets/images/avatars/Velazquez.jpg" alt="Card cover image"
                        class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"><img
                        src="assets/images/avatars/Velazquez.jpg" alt="Card cover image"
                        class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"><img
                        src="assets/images/avatars/Velazquez.jpg" alt="Card cover image"
                        class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white">
                    <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                </div>
                <div class="hidden sm:flex flex-auto"></div>
                <div class="flex items-center mt-4 sm:mt-0"><button mat-button=""
                        class="mat-focus-indicator px-3 mr-1 -ml-2 sm:ml-0 mat-button mat-button-base"><span
                            class="mat-button-wrapper"> 4 shares </span><span matripple=""
                            class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></button><button mat-button=""
                        class="mat-focus-indicator px-3 sm:-mr-4 mat-button mat-button-base"><span
                            class="mat-button-wrapper"><span class="mr-1">5 Comments</span>
                            <mat-icon role="img"
                                class="mat-icon notranslate icon-size-5 transition-transform ease-in-out duration-150 rotate-0 mat-icon-no-color"
                                aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="chevron-down"
                                data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></mat-icon>
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></button></div>
            </div>
            <!---->
            <!---->
            <!---->
        </mat-card>
    </div>
</div>