@mixin profile-about-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  profile-about {
    #about {
      .about-content {
        .work {
          .job {
            .date {
              color: map-get($foreground, secondary-text);
            }
          }
        }
      }

      .about-sidebar {
        .groups {
          .content {
            .group {
              .logo {
                background-color: map-get($primary, default);
                color: map-get($primary, default-contrast);
              }

              .category,
              .members {
                color: map-get($foreground, secondary-text);
              }
            }
          }
        }
      }
    }

    .profile-box {
      .content {
        background-color: map-get($background, card);
      }

      footer {
        border-top-color: map-get($foreground, divider);
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
  }

}

.container .cardWrap div{
  height: 300px;
  border:2px solid gray;
  }
.zero{
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.819);
}
.one{
  width:100px;
  height:100px;
  background-color:orange;
}
.two{
  width:300px;
  height:300px;
  background-color:gray;
}
.three{
  width:100px;
  height:100px;
  background-color:yellow;
}
.two_one{
  width:100px;
  height:100px;
  background-color:red;
}
.two_two{
  width:100px;
  height:100px;
  background-color:blue;
}
.two_three{
  width:100px;
  height:100px;
  background-color:green;
}