/* FONTS */
@font-face {
  font-family: "Versatile-Bold";
  src: local("Versatile-Bold"), url(./assets/fonts/Versatile-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Versatile";
  src: local("Versatile"), url(./assets/fonts/Versatile.ttf) format("truetype");
}
