/* MARGIN */
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m-auto {
  margin: auto !important;
}
.mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse)) !important;
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
}

.mt-4 {
  margin-top: 1rem !important;
}
.mt-6 {
  margin-top: 1.5rem !important;
}
.mt-8 {
  margin-top: 2rem !important;
}
.-mt-26 {
  margin-top: -6.5rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mr-8{
  margin-right: 2rem !important;
}

.m-0\.5 {
  margin: 0.125rem!important;
}

@media (min-width: 1280px) {
  .lg\:-mt-22 {
    margin-top: -5.5rem !important;
  }
  .lg\:ml-8 {
    margin-left: 2rem !important;
  }
  .lg\:mt-0 {
    margin-top: 0 !important;
  }
  .lg\:m-0 {
    margin: 0 !important;
  }
  .lg\:ml-auto {
    margin-left: auto !important;
  }
}

/* PADDING */
.p-0{
  padding: 0 !important;
}
.p-6 {
  padding: 1.5rem!important;
}
.px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
@media (min-width: 600px){
  .sm\:p-8 {
    padding: 2rem!important;
  }
}

/* BORDERS */
.rounded-full {
  border-radius: 9999px !important;
}
.rounded-zero {
  border-radius: 0 !important;
}
.rounded-6{
  border-radius: 6px;
}
.ring-4 {
  border: solid 4px white;
}
.border-l-2 {
  border-left-width: 2px !important;
}
.border-r-2 {
  border-right-width: 2px !important;
}

/* TEXT & FONT */
.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600!important;
}
.font-bold {
  font-weight: 700!important;
}
.text-lg {
  font-size: 1rem!important;
}
.text-2xl {
  font-size: 1.25rem!important;
}
.text-center {
  text-align: center !important;
}
.text-ellipsis {
  text-overflow: ellipsis !important;
}
.leading-tight {
  line-height: 1.25!important;
}

.flex-col {
  flex-direction: column !important;
}
.flex {
  display: flex !important;
}
.object-cover {
  object-fit: cover !important;
}
.h-40 {
  height: 10rem !important;
}

.items-center {
  align-items: center !important;
}
.flex-col {
  flex-direction: column !important;
}
.flex-0 {
  flex: 0 0 auto !important;
}
.max-w-5xl {
  max-width: 64rem !important;
}
.flex {
  display: flex !important;
}

.bg-card {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, 1) !important;
  color: black;
}


/* WIDTH */
.w-full {
  width: 100% !important;
}
.w-00{
  width: 0 !important;
}
.w-025 {
  width: 1rem !important;
}
.w-05 {
  width: 2rem !important;
}
.w-6 {
  width: 1.5rem!important;
}
.w-10 {
  width: 2.5rem!important;
}
.w-12 {
  width: 3rem!important;
}
.w-24 {
  width: 6rem !important;
}
.w-32 {
  width: 8rem !important;
}
.w-080 {
  width: 80% !important;
}
.min-w-12 {
  min-width: 3rem!important;
}
.w-40pc{
  width: 40% !important;
}
.vw-50{
  width: 50vw !important;
}
.vw-62-5{
  width: 62.5vw !important;
}

/* HEIGHT */
.h-full {
  height: 100% !important;
}
.h-00{
  height: 0 !important;
}
.h-025 {
  height: 1rem !important;
}
.h-05 {
  height: 2rem !important;
}
.h-6 {
  height: 1.5rem!important;
}
.h-8 {
  height: 2rem !important;
}
.h-10 {
  height: 2.5rem!important;
}
.h-12 {
  height: 3rem!important;
}
.h-24 {
  height: 6rem !important;
}
.h-32 {
  height: 8rem !important;
}
.h-80 {
  height: 20rem!important;
}
.vh-80{
  height: 80vh !important;
}

/* POSITION */
.abs{
  position: absolute !important;
}


.ring-bg-card {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(255, 255, 255, 1) !important;
}


.hidden {
  display: none !important;
}

.leading-normal {
  line-height: 1.5 !important;
}

.whitespace-nowrap {
  white-space: nowrap !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
.transition-medium {
  transition-duration: 0.75s;
}

@media (min-width: 1280px) {
  .lg\:h-80 {
    height: 20rem !important;
  }
  .lg\:flex-row {
    flex-direction: row !important;
  }
  .lg\:h-18 {
    height: 4.5rem !important;
  }
  .lg\:items-start {
    align-items: flex-start !important;
  }
  .lg\:flex {
    display: flex !important;
  }
}

.object-cover {
  object-fit: cover!important;
}
.ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)!important;
}
.ring-white {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity)) !important;
}
.custom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.shadow-15{
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%) !important;
}
// mat-card.style-1{
//   max-width: 350px;
//   border-radius: 10px !important;
//   padding: 25px;
//   margin: 25px;
// }

.vertical-scroll{
  overflow-y: scroll;
}
.left-15vw{
  left: 15vw !important;
}