@import "~@angular/material/theming";
@include mat-core();

@import "./theme.scss";
@import "./custom-component-theme.scss";
@import "./typography.scss";


@include angular-material-theme($light-theme);
@include custom-components-theme($light-theme);

.dark-theme {
  @include angular-material-color($dark-theme);
  @include custom-components-theme($dark-theme);
}

/*
IDEE
Creare il FE.
Fare il login e logon bellini
"" Esplora i tuoi talenti - Explore your skills ""
Pagina mio profilo:
Creare una tab con angoli smussati e ombra con scritto "Aggiungi step"
Ogni step rappresenta un punto cardine del proprio profilo per esempio la mia storia
o la mia esperienza lavorativa o le mie conoscenze o i miei interessi ecc...
Quando si crea uno step (salvato lato DB ma questo lo sviluppiamo poi) nella pagina del mio profilo
si vedrà un tab per ogni step e premenndolo si aprirà il contenuto ancora da immaginare come.

Una volta finito un esempio di FE sviluppare il BE per rendere tutto dinamico
*/

/* Styles */
html, body { height: 100%; }

body {
    margin: 0;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

button.main-button{
  display: block;
  margin: 10px auto 10px auto !important;
  background-color: transparent !important;
  color: #f9a826 !important;
  height: 50px;
  transition-duration: 0.75s;
}
button.main-button:hover {
  color: #ffffff !important;
  background-color: #f9a826 !important;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.main-button
.mat-button-wrapper,
.main-button
.mat-button-ripple,
.main-button
.mat-button-focus-overlay{
  height: inherit !important;
}

a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:hover{
  //color: #f9a826 !important;
}

.mat-form-field-wrapper, .mat-form-field-flex{
  max-height: 64px !important;
}

.mat-drawer-content{
  height: -webkit-fill-available !important;
}

.mat-card-header-text{
  margin: auto auto !important;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

/* UTILS */
.fl-r{
  float: right!important;
}
.fl-l{
  float: left!important;
}


/* FONTS */
@font-face {
  font-family: "Versatile";
  src: local("Versatile"), url(./assets/fonts/Versatile-Bold.ttf) format("truetype");
}
