@use "~@angular/material" as mat;
@include mat.core();

/*
Example: mat.define-typography-level(font-size in px, line-height in px, font-weight, $letter-spacing: letter-spacing in em),
 -> line-height must be unitless only for the input
 -> letter-spacing needs the label and it's not mandatory

Others font-families:
$font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
$font-family: 'Camphor, Open Sans, Segoe UI, sans-serif',
$font-family: 'Versatile, Open Sans, Segoe UI, sans-serif',
$font-family: 'Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji'
*/
$my-typography: mat.define-typography-config(
    $font-family: 'Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji',
    $title: mat.define-typography-level(20px, 32px, 600),
    $body-2: mat.define-typography-level(14px, 24px, 600),
    $button: mat.define-typography-level(14px, 14px, 600),
    $input: mat.define-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);


@include mat.core($my-typography);
