<div class="sidenav_container" [@onSideNavChange]="sideNavState ? cs.open : cs.close">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <div>

      <div class="flex flex-col items-center w-full p-4 ng-tns-c50-1">
        <div class="relative" [ngClass]="linkText ? 'w-24 h-24' : 'w-05 h-025'">
          <img alt="User avatar" class="w-full h-full rounded-full ng-star-inserted"
            src="assets/images/avatars/Velazquez.jpg">
        </div>
        <div class="flex flex-col items-center justify-center w-full mt-6">
          <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium"  [@animateText]="linkText ? cs.show : cs.hide">
            {{ user?.name + " " + user?.surname}}
          </div>
          <div
            class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary"  [@animateText]="linkText ? cs.show : cs.hide">
            {{ user?.email }}
          </div>
          <div>
            <button mat-icon-button (click)="openDialog($event)">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <mat-nav-list>
        <mat-list-item *ngFor="let page of pages">
          <a class="rounded-6" mat-list-item [routerLink]="page?.link">
            <mat-icon [ngClass]="linkText ? 'mr-8' : ''" matTooltip="{{page?.name}}" matTooltipPosition="right" matTooltipClass="custom-tooltip">{{ page?.icon }}
            </mat-icon>
            <span [@animateText]="linkText ? cs.show : cs.hide">{{
              page?.name
              }}</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px">
    <button mat-icon-button (click)="onSinenavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div>
</div>
