@import '~@angular/material/theming';
@mixin sidenav-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-sidenav{
    background-color: mat-color($primary);
    color: mat-contrast($primary, 50) !important;
  }
  .mat-list-item{
    color: mat-contrast($primary, 50) !important;
  }
  .mat-sidenav-container{
    background-color: mat-color($primary);
  }
  .mat-sidenav-content{
    background-color: mat-color($primary, 400);
    color: mat-contrast($primary, 50) !important;
  }
  .mat-card{
    background-color: transparent;
    color: mat-contrast($primary, 100) !important;
  }
  a{
    color: mat-contrast($accent, 400) !important;
    cursor: pointer;
  }
}
