@import '~@angular/material/theming';
@mixin sidenav-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-sidenav{
    background-color: mat-color($primary);
    color: mat-color($accent, 50);
  }
  .mat-list-item{
    color: mat-color($accent, 50) !important;
  }
  .mat-sidenav-container{
    background-color: mat-color($primary);
  }
  .mat-sidenav-content{
    background-color: mat-color($primary, 400);
  }
}
