<div>
    <div style="height:50vh; display:flex; align-items: center; justify-content: center;">
        <h1 style="font-size: 100px;">MyPortfolio</h1>
    </div>

    <div class="custom-container">
        <mat-card class="style-1">
          <h2>Cos'è</h2>
          <p>
            My Portfolio è un sito web dove poter raccontare la propria storia lavorativa e non solo.
            Qui potrai raccontare con delle vere e proprie storie i tuoi progetti e le tue esperienze lavorative.
            MyPortfolio è una community per chi vuole vedere oltre il semplice progetto finito o la semplice assunzione.
            Per chi vuole conoscere la storia.
          </p>
        </mat-card>
        <mat-card class="style-1">
          <h2>Cosa Rappresenta</h2>
          <p>
              Questo progetto rappresenta un idea nata durante gli anni di poter avere un luogo dove
              poter leggere le idee delle persone e dover poter raccontare le proprie idee, i propri progetti e i propri obiettivi.
          </p>
        </mat-card>
        <mat-card class="style-1">
          <h2>Per chi è</h2>
          <p>
              MyPortfolio è una community aperta a tutti coloro che sono interessati ai processi evolutivi di un progetto
              o di una carriera. Per coloro che vogliono sapere tutta la storia e non solo il finale. Per coloro che vogliono raccontarsi.
          </p>
        </mat-card>
      </div>

</div>